<h2>User information</h2>

{{#if user}}
<p>
    You are logged in:
</p>
<p>
    <b>User id</b>: {{user.id}}<br>
    <b>User name</b>: {{user.name}}
</p>

<p>
    <a class="btn btn-danger" href="/authentication/logout">Logout</a>
</p>
{{else}}
    {{#if tokenExpired }}
    <p class="alert alert-danger">
        Your token has been expired. Please login again.
    </p>
    {{else}}
    <p>
        You are not logged in.
    </p>
    {{/if}}
<p>
    <a class="btn btn-success" href="{{loginUri}}">Login</a>
</p>
{{/if}}